.error {
  padding: 5px;
  background-color: pink;
  border: 1px solid map-get($colors, 'danger-light') !important;
  color: #111;
  border-radius: 5px;
  margin: 4px 0px !important;
}

ion-col.remember-password {
  margin: 0px;
  padding: 0px;
  font-size: .9em;
}

.loginForm {
  margin-top: 0px;
  ion-label.label-md {
    color: map-get($colors, "primary") !important;
    font-weight: bold;
    font-size: .9em !important;
  }
  ion-item.login-input-email,
  ion-item.login-input-password {
    background-color: map-get($colors, "light");
    margin-bottom: 5px;
    font-size: 1em;
  }
  & .login-form-submit-button {
    margin-top: 20px;
  }
  & .login-form-account-available {
    font-size: .9em;
  }
  & .dts-login-form-show-password-off, .dts-login-form-show-password-on {
    font-size: 1.4em !important;
  }
}
