<form class="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <ion-item class="login-input-email">
    <ion-label stacked>Email (correo electrónico)</ion-label>
    <ion-input #email formControlName="email" type="email" placeholder="Introduce tu dirección de email">
    </ion-input>
  </ion-item>
  <div class="error" *ngIf="emailFormat">
    Por favor, introduce un email válido
  </div>
  <ion-item class="login-input-password">
    <ion-label stacked>Contraseña</ion-label>
    <ion-input #password formControlName="password" [type]="passwordFieldType" placeholder="Introduce una contraseña">
    </ion-input>
    <button *ngIf="!showPWD" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon class="dts-login-form-show-password-off" name="ios-eye-off-outline"></ion-icon></button>
    <button *ngIf="showPWD" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon class="dts-login-form-show-password-on" name="ios-eye-outline"></ion-icon></button>
  </ion-item>
  <div class="error" *ngIf="passwordInvalid">
    El password es requerido
  </div>
  <!-- <ion-row>
    <ion-col col-9 text-right class="remember-password">
      <p ion-text color="light" text-right>Recordar contraseña</p>
    </ion-col>
    <ion-col col-1 right class="remember-password">
      <ion-toggle color="secondary" [checked]="false" right></ion-toggle>
    </ion-col>
  </ion-row> -->
  <button class="login-form-submit-button" [disabled]="form.invalid" ion-button block type="submit" color="secondary">
    ACCEDER
  </button>
  <p ion-text class="login-form-account-available" text-center color="light">¿Aún no dispones de una cuenta?
    <strong>
      <a ion-text (tap)="goToRegister()" color="secondary-light">Regístrate</a>
    </strong>
  </p>
</form>
