<div class="wrapper" *ngIf="damage" margin-bottom>
  <div>
    <ion-segment [(ngModel)]="selectedDamageTab">
      <ion-segment-button value="description">
        <ion-icon class="damage-detail-tabs-icon" name="information-circle"></ion-icon>
        Detalles
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon class="damage-detail-tabs-icon" name="globe"></ion-icon>
        Ubicación
      </ion-segment-button>
      <ion-segment-button value="messages">
        <ion-icon class="damage-detail-tabs-icon" name="mail"></ion-icon>
        Mensajes
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-grid [ngSwitch]="selectedDamageTab" padding-bottom>
    <div *ngSwitchCase="'description'">
      <!-- Posiblemente podría ser un Custom Component -->
      <ion-card margin-bottom>
        <ion-card-content no-padding>
          <div class="damage-detail-thumbnail">
            <img class="damage-detail-image" [src]="damage?.photoURL">
            <p *ngIf="damage" class="damage-detail-status" [class.proceso]="damage?.status == 'proceso'" [class.resuelta]="damage?.status == 'resuelta'">
              <ion-icon name="checkmark-circle"></ion-icon> {{damage?.status}}
            </p>
          </div>
        </ion-card-content>
        <ion-card-header no-padding class="damage-detail-header" text-wrap>
          <strong>{{ damage?.title | uppercase }}</strong>
        </ion-card-header>
        <div class="damage-detail-properties">
          <div class="damage-detail-location">
            <ion-icon name="globe" start></ion-icon>
            <span>{{ damage?.address.line1 }}</span>
          </div>
          <div class="damage-detail-creation-time">
            <ion-icon name="calendar" start></ion-icon>
            <span>{{ damage?.created_at | moment }}</span>
          </div>
        </div>
        <div class="damage-detail-description">
          <p>{{ damage?.description }}</p>
        </div>
      </ion-card>
    </div>
    <div *ngSwitchCase="'map'" no-margin>
      <ion-card *ngIf="damage?.coords">
        <ion-card-content no-padding no-margin>
          <agm-map no-margin no-padding [latitude]="damage?.coords.lat" [longitude]="damage?.coords.lng" [zoom]="18">
            <agm-marker [latitude]="damage?.coords.lat" [longitude]="damage?.coords.lng"></agm-marker>
          </agm-map>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'messages'" no-padding>
      <messages-list *ngIf="damage" [messages]="(messages$ | async)" [authenticatedUser]="authenticatedUser"></messages-list>
      <new-message [damage]="damage"></new-message>
    </div>
  </ion-grid>
</div>
