  ion-card-content img.damage-detail-image {
    max-width: 100%;
    object-fit: contain;
  }

  .damage-detail-thumbnail {
    position: relative;
    & p.damage-detail-status {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid #ffffff;
      font-weight: bold;
      margin: 5px;
      font-size: .65em;
      background-color: map-get($colors, 'custom-yellow');
      color: map-get($colors, 'primary');
      text-transform: uppercase;
      &.proceso {
        background-color: map-get($colors, 'primary');
        color: #ffffff;
      }
      &.resuelta {
        background-color: map-get($colors, 'custom-green');
        color: #ffffff;
      }
      & ion-icon {
        font-size: 2em;
        margin-right: 5px;
      }
    }
  }

  .segment-md .segment-button ion-icon {
    font-size: 16px;
    color: map-get($colors, 'primary');
    vertical-align: top;
    margin-right: 2px;
  }

  ion-card-header.damage-detail-header {
    font-size: .8em;
    padding: 10px 0 0 10px;
  }

  ion-card div.damage-detail-properties {
    display: flex;
    align-content: space-around;
    & div.damage-detail-creation-time,
    div.damage-detail-location {
      font-size: .8em;
      padding: 5px 0px 10px 10px;
      color: map-get($colors, 'primary');
    }
  }

  ion-card div.damage-detail-description {
    border-top: 1px solid map-get($colors, 'light');
    padding: 8px 5px 20px 10px;
    & p {
      font-size: .9em;
    }
  }

  .sebm-google-map-container {
    height: 500px;
  }
