page-login {
  .login-account__subtitle {
    font-size: .9em;
    margin-bottom: 0px;
  }
  ion-content .scroll-content {
    background: map-get($colors, "primary");
  }
  ion-img.login-logo {
    margin-top: 60px;
    min-width: 48px;
    min-height: 48px;
    background: url(../assets/imgs/logo_48px.svg) map-get($colors, "primary");
  }
  .login-title {
    margin-bottom: 10px;
  }
}
