<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <ion-img class="register-logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <h4 class="login-title" ion-text color="light" text-center>Damage Tracking System</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <strong class="login-account__subtitle" ion-text color="light">CREAR USUARIO</strong>
        </ion-col>
      </ion-row>
      <ion-row class="form">
        <ion-col col-12>
          <register-component></register-component>
          <social-access></social-access>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>