<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
  <!-- <div class="spinner"> -->
    <!-- <div class="double-bounce1"></div>
    <div class="double-bounce2"></div> -->
  <!-- </div> -->
  <p class="loading">Accediendo al Sistema ...</p>
</div>
<side-menu [content]="content" [user]="(auth$ | async)" (onRootChanged)="goToPage($event)" (logedOut)="logout()"></side-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
