<ion-header>
  <ion-navbar [color]="headerColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notification-nav-button"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="search-nav-button"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
