.error {
    padding: 5px;
    background-color: pink;
    border: 1px solid map-get($colors, 'danger-light') !important;
    color: #111;
    border-radius: 5px;
    margin: 4px 0px !important;
  }
  
  ion-col.remember-password {
    margin: 0px;
    padding: 0px;
    font-size: .9em;
  }
  
  .registerForm {
    margin-top: 0px;
    ion-label.label-md {
      color: map-get($colors, "primary") !important;
      font-weight: bold;
      font-size: .9em !important;
    }
    ion-item.register-input-username,
    ion-item.register-input-email,
    ion-item.register-input-password {
      background-color: map-get($colors, "light");
      margin-bottom: 5px;
      font-size: 1em;
    }
    & .register-form-submit-button {
      margin-top: 20px;
    }
    & .register-form-account-available {
      font-size: .9em;
    }
  }
  