<form class="registerForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <ion-item class="register-input-username">
    <ion-label stacked>Nombre de Usuario</ion-label>
    <ion-input #username formControlName="username" type="text" placeholder="Introduce un nombre de usuario">
    </ion-input>
  </ion-item>
  <div class="error" *ngIf="usernameInvalid">
    Por favor, introduce un nombre de usuario válido
  </div>
  <ion-item class="register-input-email">
    <ion-label stacked>Email (correo electrónico)</ion-label>
    <ion-input #email formControlName="email" type="email" placeholder="Introduce tu dirección de email">
    </ion-input>
  </ion-item>
  <div class="error" *ngIf="emailFormat">
    Por favor, introduce un email válido
  </div>
  <ion-item class="register-input-password">
    <ion-label stacked>Contraseña</ion-label>
    <ion-input #password formControlName="password" type="password" placeholder="Introduce una contraseña">
    </ion-input>
  </ion-item>
  <div class="error" *ngIf="passwordInvalid">
    El password es requerido
  </div>
  <button class="register-form-submit-button" [disabled]="form.invalid" ion-button block type="submit" color="secondary">
    CREAR USUARIO
  </button>
  <p ion-text class="register-form-account-available" text-center color="light">¿Dispones de una cuenta de usuario?
    <strong>
      <a ion-text (tap)="goToLogin()" color="secondary-light">Accede</a>
    </strong>
  </p>
</form>
