<button ion-item class="wrapper" text-wrap (tap)="openDamage(damage)" *ngIf="!(damage?.visible === false)">
  <ion-avatar item-start no-margin padding-left>
    <div class="damage-list-item-thumbnail">
      <img [src]="damage?.photoURL">
      <span *ngIf="damage"
      class="damage-list-item-status"
      [class.proceso]="damage?.status == 'proceso'"
      [class.resuelta]="damage?.status == 'resuelta'"
      >{{damage?.status}}</span>
    </div>
  </ion-avatar>
  <p class="damages-list-item-title" ion-text color="primary">
    <strong>{{ damage.title | uppercase }}</strong>
  </p>
  <p class="damage-item-date">
    <ion-icon name="calendar" color="secondary-light"></ion-icon>
    <strong> {{ damage?.created_at | moment: 'YYYYMMDD' }}</strong>
  </p>
  <p class="damage-item-address" ion-text color="secondary">
    <ion-icon name="pin" color="secondary-light"></ion-icon>
    {{ damage?.address?.line1 }} ({{ damage?.address?.zipcode }} {{ damage?.address?.city }})</p>
</button>
