button.wrapper {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid map-get($colors, 'primary-light');
}

ion-avatar img {
  position: relative;
  border-radius: 0 !important;
}

.damage-list-item-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.damage-list-item-status {
  display: block;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
  font-size: .65em;
  background-color: map-get($colors, 'custom-yellow');
  color: map-get($colors, 'primary');
  text-transform: uppercase;
  &.proceso {
    background-color: map-get($colors, 'primary');
    color: #ffffff;
  }
  &.resuelta {
    background-color: map-get($colors, 'custom-green');
    color: #ffffff;
  }
}

button[ion-item] {
  padding: 0px;
}

p.damage-item-date,
p.damage-item-address {
  font-size: .8em;
}
