<main-header *ngIf="user$ | async; let user" title="Perfil de Usuario" headerColor="primary"></main-header>
<ion-content padding-vertical>
  <profile-basic [user]="user$ | async"></profile-basic>

  <div>
    <ion-segment [(ngModel)]="selectedTab">
      <ion-segment-button value="profile">
        <ion-icon class="profile-user-info" name="person" start></ion-icon> Perfil
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-icon class="profile-user-config" name="settings" start></ion-icon> Configuración
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-grid [ngSwitch]="selectedTab">
    <profile-editor *ngSwitchCase="'profile'" [user]="user$ | async"></profile-editor>
    <settings-editor *ngSwitchCase="'settings'" [user]="user$ | async" [settings]="settings$"></settings-editor>
  </ion-grid>
</ion-content>
