page-profile {
  ion-content {
    margin-top: 50px;
    ion-icon.profile-user-info.icon.icon-md.ion-md-person,
    ion-icon.profile-user-config.icon.icon-md.ion-md-settings {
      font-size: 1.3em;
      margin-right: 5px;
    }
  }
  & img.profile-photo {
    max-width: 120px;
  }
  .profile-stats {
    border-radius: 3px;
    padding: 5px;
    background-color: map-get($colors, "secondary-light");
    & .profile-stats-item:nth-child(1),
    .profile-stats-item:nth-child(2) {
      border-right: 1px solid map-get($colors, "light");
    }
    & .profile-stats-item-value {
      margin-bottom: 0px;
    }
    & .profile-stats-item-descriptor {
      margin-top: 0px;
      font-size: .9em;
    }
  }
}
