<div class="social-access-wrapper">
  <div class="social-access-inner">
    <p class="social-access-title">Accede a través de tus redes sociales</p>
    <ion-grid class="social-access-list">
      <ion-row>
        <ion-col col-4 text-center>
          <button (click)="doFacebookLogin()" class="social-access-icons" disabled ion-button color="primary" clear>
            <ion-icon name="logo-facebook" color="light"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button (click)="doTwitterLogin()" class="social-access-icons" ion-button color="primary" clear>
            <ion-icon name="logo-twitter" color="social-twitter"></ion-icon>
        </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button (click)="doGoogleLogin()" class="social-access-icons" ion-button color="primary" clear>
            <ion-icon name="logo-googleplus" color="social-google"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>