// Variables
$centerX: calc( (100% / 2) - 35px);
.social-access-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  &::before {
    content: '';
    position: relative;
    top: 0px;
    left: $centerX;
    width: 70px;
    height: 2px;
    border-top: 1px solid map-get($colors, 'light');
  }
  .social-access-inner {
    ion-grid.social-access-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      margin: 0px;
      padding: 0px;
      ion-row {
        padding: 0px;
      }
    }
    p.social-access-title {
      color: map-get($colors, 'light');
      font-size: .9em;
      text-align: center;
      padding: 0px;
    }
    button.social-access-icons {
      margin: 0 7px;
      padding: 0px;
      ion-icon {
        font-size: 2.5em;
      }
    }
  }
}
