<p class="items-count" ion-text text-center color="danger-light" *ngIf="damages">
  <strong>{{ damages?.length }}</strong> Incidencias remitidas</p>
<ion-list padding-bottom margin-bottom>
  <damage-list-item *ngFor="let damage of damages; index as i" [damage]="damage"></damage-list-item>
</ion-list>