<main-header title="Damage Tracking System" headerColor="primary"></main-header>
<ion-content padding>
  <login-component></login-component>
  <p *ngIf="(auth$ | async) as user">
    {{ user?.displayName }}
  </p>

</ion-content>
