// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:           #364F6B,
  primary-light:     #9BA7B5,
  secondary:         #007AB5,
  secondary-light:   #7FBCDA,
  custom-green:      #02C39A,
  custom-blue:       #43DDE6,
  custom-yellow:     #FCE38A,
  custom-white:      #ffffff,
  danger:            #E91E63,
  danger-light:      #F06292,
  light:             #f4f4f4,
  dark:              #222222,
  social-facebook:   #3b5998,
  social-twitter:    #1dcaff,
  social-google:     #d34836,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$item-md-divider-border-bottom: 1px solid map-get($colors, "primary") !default;
$toolbar-md-title-font-size: 1.025em;

$segment-button-md-border-bottom-width: 3px;
$segment-button-md-border-color-activated: map-get($colors, "danger");

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$menu-md-background: map-get($colors, "primary");
