<ion-grid *ngIf="user">
  <ion-row>
    <ion-col col-12 text-center>
      <h3>{{ user?.displayName | uppercase }} </h3>
      <img class="profile-photo" [src]="user?.photoURL">
      <br>
      <button ion-button (tap)="subirFoto()" color="primary" outline>CAMBIAR FOTO</button>
    </ion-col>
  </ion-row>
</ion-grid>
