<div *ngIf="damage" class="new-message-wrapper">
    <h3 ion-text padding-left>Enviar una comunicación</h3>
    <form class="newMessageForm" [formGroup]="newMessageForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
            <ion-label stacked>Título</ion-label>
            <ion-input type="text" formControlName="title" placeholder="Introduce un título"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Mensaje</ion-label>
            <ion-textarea type="text" formControlName="text" placeholder="Cuéntanos sobre dicha incidencia ..."></ion-textarea>
        </ion-item>
        <ion-item>
            <button ion-button>Enviar Mensaje</button>
        </ion-item>
    </form>
</div>