<ion-grid *ngIf="user">
  <form class="profile-editor-form" [formGroup]="profEditForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-row>
      <ion-col ion-col-12>
        <ion-label stacked>
          Nuevo nombre de Usuario (
          <strong>Username</strong>)
        </ion-label>
        <ion-input formControlName="newUsername" type="text" placeholder="Introduce un nuevo nombre de usuario ..." [value]="user?.displayName"></ion-input>
        <button type="submit" ion-button block color="primary">Actualizar Perfil de Usuario</button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
