<main-header title="Detalles de la Incidencia" headerColor="primary"></main-header>

<ion-content>
  <div *ngIf="damage" class="wrapper" padding-bottom margin-bottom>
    <damage-detail [damage]="damage" [authenticatedUser]="authenticatedUser"></damage-detail>
  </div>
</ion-content>
