<main-header title="Comunicar Incidencia" headerColor="primary"></main-header>

<ion-content margin-bottom padding-bottom>
    <damage-form (dataSaved)="onSaveNewDamage($event)" [currentUser]="currentUser$ | async"></damage-form>
</ion-content>
<br>
