<div>
  <ion-grid *ngIf="settings" no-padding no-margin>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-list>
        <ion-list-header>
          <h4 class="settings-editor-appearance-title" color="primary">Apariencia</h4>
        </ion-list-header>
        <ion-item>
          <ion-label>Paleta de Colores</ion-label>
          <ion-select formControlName="selectedTheme">
            <ion-option *ngFor="let theme of themeUIs" [value]="theme.val">
              {{ theme.text }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <h4 class="settings-editor-notifications-title" color="primary">Notificaciones</h4>
        </ion-list-header>
        <ion-item>
          <ion-label color="primary" ion-text>Recibir Notificaciones</ion-label>
          <ion-toggle formControlName="beNotified" checked="settings?.beNotified"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <h4 class="settings-editor-date-title" color="primary">Opciones de Formato</h4>
        </ion-list-header>
        <ion-item>
          <ion-label>Formato de Fecha</ion-label>
          <ion-select formControlName="dateFormat">
            <ion-option *ngFor="let df of dateFormats" [value]="df.val" [selected]="settings?.dateFormat">
              {{ df.format }}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <button type="submit" block ion-button color="primary">Actualizar Configuración</button>
    </form>
  </ion-grid>
  <br>
  <br>
</div>
