.profile-user-icon.ion-md-person,
.profile-config-icon.ion-md-settings {
  font-size: 1.2em;
}

ion-item {
  padding: 0px;
  margin: 0px;
}

ion-list-header {
  margin-bottom: 0px !important;
  & ion-label.label.label-md {
    margin: 0px !important;
    padding: 0px !important;
  }
}

h4.settings-editor-appearance-title,
h4.settings-editor-notifications-title,
h4.settings-editor-date-title {
  font-weight: bold;
}