<div class="image-uploader">
  <div class="image-uploader-wrapper" (tap)="handleUpload()">
    <ion-icon class="image-uploader-foto-icon" name="camera" color="primary-light"></ion-icon>
    <br>
    <button ion-button clear color="secondary">Tomar una Foto</button>
  </div>
  <img class="image-uploader-image" [src]="image" *ngIf="image">
</div>
<ion-progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></ion-progress-bar>