.image-uploader {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image-uploader-wrapper {
    & ion-icon.image-uploader-foto-icon {
        font-size: 50px;
    }
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px dashed map-get($colors, 'primary-light');
    background-color: map-get($colors, 'light');
  }
  
  img.image-uploader-image {
    max-width: 250px;
    margin: 15px;
  }
}