<div class="messages-list-wrapper" *ngIf="messages">
    <message-item 
        *ngFor="let message of messages" 
        [message]="message"
        [authenticatedUser]="authenticatedUser">
    </message-item>
</div>