.message-item-wrapper {
  background-color: lighten($color: (map-get($colors, 'custom-yellow')), $amount: 10);
  position: relative;
  margin: 0px;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid map-get($colors, 'light');
  .message-item-title {
    text-align: left;
    font-size: .8em !important;
    font-weight: bold !important;
    margin-top: 5px !important;
    color: map-get($colors, 'secondary');
  }
  .message-item-content-text {
    font-size: .8em !important;
    text-align: justify;
    padding: 4px auto;
  }
  .message-item-details {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .message-item-details-datetime {
    margin-left: 5px;
    font-size: .65em;
    color: map-get($colors, 'dark');
  }
  .message-item-details-sender {
    min-width: 25px;
    text-align: center;
    display: inline-block;
    background-color: map-get($colors, 'custom-white');
    border-radius: 10px;
    padding: 2px 5px;
    font-size: .7em;
  }
  .message-item-read-status {
    font-size: .8em;
    color: map-get($colors, 'primary');
    &.read {
      color: map-get($colors, 'custom-blue')
    }
  }
}
