<ion-item no-lines no-margin text-wrap *ngIf="message" (tap)="markAsRead(message?.$key)">
  <div class="message-item-wrapper" [class.is-admin]="( message?.senderUID !== authenticatedUser.uid )" >
    <p ion-text class="message-item-details-sender">
      <strong>{{ ( message?.senderUID === authenticatedUser.uid ) ? 'tú' : 'administrador' }}</strong>
    </p>
    <h4 class="message-item-title">{{ message?.title }}</h4>
    <div class="message-item-details">
      <ion-icon name="calendar"></ion-icon>
      <span ion-text class="message-item-details-datetime">{{ message?.sent_at | moment: 'YYYYMMDD' }}</span>
      <br>
    </div>
    <div class="message-item-content">
      <p class="message-item-content-text" ion-text>{{ message?.text }}</p>
      <span class="message-item-read-status" [class.read]="message?.read">
        <ion-icon name="checkmark"></ion-icon>
      </span>
    </div>
  </div>
</ion-item>
