<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title text-center>DTS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding *ngIf="!user">
    <p ion-text color="light">Debes estar logueado para ver el contenido del menú</p>
  </ion-content>
  <ion-content *ngIf="user" padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <img class="profile-img" [attr.src]="user?.photoURL" >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <strong ion-text color="light">{{ user?.displayName }}</strong>
          <p class="sidemenu-profile-email" ion-text color="light">{{ user?.email }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <button ion-item menuToggle (tap)="setRoot('DamagesPage')" color="primary">
        <ion-icon text-center name="menu-damage" item-start></ion-icon>
        Incidencias
      </button>
      <!-- <button ion-item menuToggle (tap)="setRoot('NotificationsPage')" color="primary">
        <ion-icon name="menu-notifications" item-start></ion-icon>
        <ion-badge item-end color="danger-light">2</ion-badge>
        Notificaciones
      </button> -->
      <button ion-item menuToggle (tap)="setRoot('ProfilePage')" color="primary">
        <ion-icon name="menu-profile" item-start></ion-icon>
        Perfil de Usuario
      </button>
      <button ion-item menuToggle (tap)="setRoot('HelpPage')" color="primary">
        <ion-icon name="menu-help" item-start></ion-icon>
        Ayuda
      </button>
      <button ion-item menuToggle (tap)="doLogout()" color="primary" (tap)="doLogout()">
        <ion-icon name="menu-logout" item-start></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
