.ion-md-menu-damage {
  content: url(../assets/imgs/icons_white/roadsign_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

.ion-md-menu-notifications {
  content: url(../assets/imgs/icons_white/mail_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

.ion-md-menu-profile {
  content: url(../assets/imgs/icons_white/user-2_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

.ion-md-menu-help {
  content: url(../assets/imgs/icons_white/book-question_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

.ion-md-menu-logout {
  content: url(../assets/imgs/icons_white/exit-2_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

// NAVBAR ICONS
.ion-md-notification-nav-button {
  content: url(../assets/imgs/icons_white/mail_dark.svg);
  width: 24px;
  padding: 0px 2px;
}

ion-icon.ion-md-search-nav-button {
  content: url(../assets/imgs/icons_white/search_fat.svg);
  width: 10px;
  padding: 0px 2px;
}

.bar-button-md[icon-only] ion-icon {
  min-width: 20px;
}

// SIDE MENU STYLES
.list-md .item-block .item-inner {
    border-bottom: none;
  }
  
  .list-md .item-block ion-icon {
    margin-left: 10px;
    margin-right: 2px;
  }
  
  ion-menu ion-content .scroll-content {
    background-color: map-get($colors, "primary");
  }
  ion-list .item {
    font-size: 1em;
  }
  // Menu Profile Default Image
  img.profile-img {
    max-width: 96px;
  }
  // Menu Profile Email
  .sidemenu-profile-email {
    margin-top: 2px;
    font-size: .9em;
  }
  // MENU ITEM HOVER
  ion-menu ion-list .item:hover {
    background-color: map-get($colors, "secondary");
  }