page-damages {
    ion-content {
        margin-top: 50px;
    }

    .damages-page-no-damages-img {
        display: block;
        margin: 160px auto 40px;
        max-width: 250px;
        text-align: center;
    }

    .new-damage-button {
        display: block !important;
        margin: 0 auto !important;
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
