<main-header title="Listado de Incidencias" headerColor="primary"></main-header>
<ion-content padding-top *ngIf="(damages$ | async); else noDamages">
  <div class="wrapper" *ngIf="(damages$ | async)" padding-bottom margin-bottom no-padding>
    <damages-list (viewDamage)="viewDamage($event)" [damages]="(damages$ | async)"></damages-list>
  </div>
</ion-content>
<ng-template  #noDamages margin padding>
  <img class="damages-page-no-damages-img" src="assets/imgs/blank_state/blank_state_damages_list.png">
  <button class="new-damage-button" ion-button color="primary" (tap)="goToNewDamage()">Nueva Incidencia</button>
</ng-template>
<ion-fab right bottom>
  <button ion-fab mini color="danger-light" (tap)="goToNewDamage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
