<form class="newDamageForm" [formGroup]="newDamageForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="wrapper" margin-bottom>
    <ion-card margin-bottom>
      <ion-card-content no-padding no-margin no-lines>
        <ion-list no-lines margin-bottom>
          <ion-item-group no-lines>
            <ion-list-header class="new-damage-header" no-lines color="secondary">
              DESCRIPCIÓN
              <span ion-text class="new-damage-header-subtitle">Datos descriptivos de la incidencia</span>
            </ion-list-header>
            <ion-item>
              <ion-label class="new-damage-field-label" stacked>Título</ion-label>
              <ion-input class="new-damage-field-input" type="text" placeholder="Introduce un título" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="new-damage-field-label" stacked>Descripción</ion-label>
              <ion-textarea class="new-damage-description new-damage-field-input" rows="3" formControlName="description" placeholder="Introduce una descripción de la incidencia"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label class="new-damage-field-label" stacked>Tipo</ion-label>
              <ion-select class="new-damage-type-selector" formControlName="type">
                <ion-option value="-1" [selected]="true">Por favor, seleccione un tipo</ion-option>
                <ion-option *ngFor="let type of (damageTypes$ | async)" [value]="type?.$key">
                  {{ type?.value | uppercase }}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label class="new-damage-field-label" stacked>Fecha</ion-label>
              <ion-datetime displayFormat="DDDD DD MMMM YYYY - HH:mm" pickerFormat="DD MMM YYYY HH:mm" [monthNames]="monthNames" [monthShortNames]="monthsShortnames"
                [dayNames]="days" [dayShortNames]="shortDays" formControlName="created_at"></ion-datetime>
            </ion-item>
            <br>
          </ion-item-group>
          <ion-item-group no-lines>
            <div formGroupName="address">
              <ion-list-header class="new-damage-header" no-lines color="secondary">
                LOCALIZACIÓN
                <span ion-text class="new-damage-header-subtitle">Datos de localización (Dirección y Posición GPS)</span>
              </ion-list-header>
              <ion-item>
                <ion-label class="new-damage-field-label" stacked>Dirección Postal</ion-label>
                <ion-input type="text" class="new-damage-field-input" formControlName="line1" placeholder="Ej. Calle Larios, 25"></ion-input>
              </ion-item>
              <ion-item padding>
                <ion-grid item-content no-padding no-margin>
                  <ion-row>
                    <ion-col col-6>
                      <ion-label class="new-damage-field-label" stacked>Ciudad</ion-label>
                      <ion-select class="new-damage-city-selector" formControlName="city">
                        <ion-option *ngFor="let city of cities" [value]="city.val"> {{ city.text | uppercase }} </ion-option>
                      </ion-select>
                    </ion-col>
                    <ion-col col-6>
                      <ion-label class="new-damage-field-label" stacked>Código Postal</ion-label>
                      <ion-input type="number" class="new-damage-zipcode-input new-damage-field-input" formControlName="zipcode" text-right></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item padding-bottom>
                <ion-label class="new-damage-field-label" stacked>País</ion-label>
                <ion-select class="new-damage-city-selector" formControlName="country">
                  <ion-option *ngFor="let country of countries" [value]="country.val"> {{ country.text | uppercase }} </ion-option>
                </ion-select>
              </ion-item>
            </div>
            <div formGroupName="coords">
              <ion-item>
                <ion-label>Añadir coordenadas GPS</ion-label>
                <ion-checkbox #addCoordsCheck class="add-coords" color="primary" checked="false" (ionChange)="changeAddCoords($event)"></ion-checkbox>
              </ion-item>
              <div *ngIf="addCoords">
                <ion-item>
                  <ion-label class="new-damage-field-label" stacked>Latitud</ion-label>
                  <ion-input type="text" class="new-damage-field-input" disabled formControlName="lat"></ion-input>
                </ion-item>
                <ion-item padding-bottom>
                  <ion-label class="new-damage-field-label" stacked>Longitud</ion-label>
                  <ion-input type="text" class="new-damage-field-input" disabled formControlName="lng"></ion-input>
                </ion-item>
              </div>
            </div>
          </ion-item-group>
          <ion-item-group no-lines>
            <ion-list-header class="new-damage-header" no-lines color="secondary">
              FOTOGRAFÍA
              <span ion-text class="new-damage-header-subtitle">Puedes insertar una foto de la incidencia</span>
            </ion-list-header>
            <upload-component (saved)="setPhotoURL($event)"></upload-component>
          </ion-item-group>
          <ion-item-group>
          </ion-item-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- <p *ngIf="photoURL | async">{{ photoURL | async }}</p> -->

    <ion-item margin-bottom>
      <button [disabled]="!formReadyToSubmit" class="new-damage-submit-button" type="submit" ion-button block color="primary">ENVIAR INCIDENCIA</button>
    </ion-item>
  </div>
</form>

<!-- <pre>{{ newDamageForm.value | json }}</pre> -->
