ion-card-header.new-damage-header {
  font-size: .9em;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

ion-list-header.new-damage-header {
  font-size: .9em;
  font-weight: bolder;
  color: map-get($colors, 'light');
  & span.new-damage-header-subtitle {
    display: block;
    font-weight: 500;
    font-size: .85em;
    color: map-get($colors, 'light');
  }
}

.divider {
    margin-top: 1em !important;
}

ion-select.new-damage-type-selector .select-text,
ion-select.new-damage-country-selector .select-text,
ion-select.new-damage-city-selector .select-text {
    font-size: .9em;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 800;
    background-color: map-get($colors, 'custom-blue');
    color: #fff;
    font-weight: 500;
}

div.new-damage-foto-wrapper {
    & ion-icon.new-damage-foto-icon {
        font-size: 50px;
    }
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px dashed map-get($colors, 'primary-light');
    background-color: map-get($colors, 'light');
}

.new-damage-field-label {
    font-size: .9em !important;
    color: map-get($colors, 'dark') !important;
    font-weight: bold;
}

.new-damage-field-input {
    font-size: .9em;
    padding: 1px;
    border: 1px dashed #ddd;
}

ion-checkbox.add-coords {
    margin-right: 10px !important;
}

button.new-damage-submit-button {
    font-size: 1em !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-weight: 400;
}